<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EVo | Log In</title>
    <link rel="stylesheet" href="./index.css">
    <script src="./code.js"></script>
</head>
<body>
    <div class="header1">
        <a href="../index.html">
            <img id="imgevo" src="./image/den.png" 
        alt="logo"
        width="30px"
        height="45px">
        </a>
    </div>

    <div id="sloganbar">
        <p>CREATING THE BEST DAY EVER</p>
    </div>

    <div class="homebar">
        <ul>
            <li><a href ="../index.html">News</a></li>
            <li><a href ="https://www.facebook.com/groups/evoeventclub" target="_blank">Group</a></li>
            <li><a href = "https://www.facebook.com/FPTUDNEventClub" target="_blank">Fanpage</a></li>
            <li><a href = "#">About us</a></li>
            <li><a href = "#">Log In</a></li>
        </ul>
    </div>

    <div class="loginbar">
        <p>Log In</p>
    </div>

    <div class="leftbar">
        <h1>Welcome back</h1><br>
        <form>
            <input type="text" id="msevo" placeholder="Mã số thành viên EVo"><br>
            <input type="password" id="passevo" placeholder="Mật khẩu"><br>
            <input type="submit" value="Log In">
        </form>
    </div>

    

</body>
</html>